@media print {
    body, html {
        margin: 0;
        padding: 0;
    }

    body * {
        visibility: hidden;
    }

    #table-container, #table-container * {
        visibility: visible;
    }

    #table-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    @page {
        size: A4 portrait;
        margin: 0.5cm;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 4px; /* Reduced padding */
        font-size: 8pt; /* Reduced font size for more content */
    }

    th {
        background-color: #f2f2f2;
    }
}
